@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model MummyAndPage

<h1 class="text-center">Burial Information on Egyption Digs</h1>


@*this is what we will use*@
@foreach (var b in Model.Mummies)
{
    <partial name="BurialSummary" model="b" />
    <br />
}

<div page-info="@Model.PageInfo" page-url="" page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="btn-primary">

</div>