@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model MummyInfo

@{ int firstNum = (int)Model.location.MetersNs + 10;}
@{ int secondNum = (int)Model.location.MetersEw + 10;}

<h1>N @Model.location.MetersNs / @firstNum E @Model.location.MetersEw / @secondNum @Model.location.Subplot #@Model.burial.BurialNum</h1>
