@model Sample

<div class="text-center">
    <h1 class="display-4">Enter Samples</h1>
</div>



<form asp-action="EnterSamples" method="post">
    <div asp-validation-summary="All"></div>

    <div>
        <label asp-for="MISize">Upload Photos:</label>
        <input asp-for="MISize" />
        <br />
    </div>

    <div>
        <label asp-for="Description">Upload FieldNotes:</label>
        <input asp-for="Description" />
        <br />
    </div>

    <div>
        <label asp-for="Category">Upload Other Documents:</label>
        <input asp-for="Category" />
        <br />
    </div>

    <div>
        <label asp-for="Notes">Upload BoneBook:</label>
        <input asp-for="Notes" />
        <br />
    </div>

    <div>
        <label asp-for="HairTaken">Upload Photos:</label>
        <input asp-for="HairTaken" />
        <br />
    </div>

    <div>
        <label asp-for="SoftTissueTaken">Upload FieldNotes:</label>
        <input asp-for="SoftTissueTaken" />
        <br />
    </div>

    <div>
        <label asp-for="BoneTaken">Upload Other Documents:</label>
        <input asp-for="BoneTaken" />
        <br />
    </div>

    <div>
        <label asp-for="ToothTaken">Upload BoneBook:</label>
        <input asp-for="ToothTaken" />
        <br />
    </div>

    <div>
        <label asp-for="TextileTaken">Upload Photos:</label>
        <input asp-for="TextileTaken" />
        <br />
    </div>

    <div>
        <label asp-for="DescriptionOfTaken">Upload FieldNotes:</label>
        <input asp-for="DescriptionOfTaken" />
        <br />
    </div>

    <div>
        <label asp-for="SampleTaken">Upload Other Documents:</label>
        <input asp-for="SampleTaken" />
        <br />
    </div>

    <div>
        <label asp-for="Foci">Upload BoneBook:</label>
        <input asp-for="Foci" />
        <br />
    </div>

    <div>
        <label asp-for="C14Sample2017">Upload Other Documents:</label>
        <input asp-for="C14Sample2017" />
        <br />
    </div>

    <div>
        <label asp-for="LocationDescription">Upload BoneBook:</label>
        <input asp-for="LocationDescription" />
        <br />
    </div>

    <div>
        <label asp-for="Questions">Upload Photos:</label>
        <input asp-for="Questions" />
        <br />
    </div>

    <div>
        <label asp-for="Conventional14CAgeBP">Upload FieldNotes:</label>
        <input asp-for="Conventional14CAgeBP" />
        <br />
    </div>

    <div>
        <label asp-for="14CalDate">Upload Other Documents:</label>
        <input asp-for="14CalDate" />
        <br />
    </div>

    <div>
        <label asp-for="MaxCalibrated95PercCalDate">Upload BoneBook:</label>
        <input asp-for="MaxCalibrated95PercCalDate" />
        <br />
    </div>

    <div>
        <label asp-for="MinCalibrated95PercCalDate">Upload Other Documents:</label>
        <input asp-for="MinCalibrated95PercCalDate" />
        <br />
    </div>

    <div>
        <label asp-for="SpanCalibrated95PercCalDate">Upload BoneBook:</label>
        <input asp-for="SpanCalibrated95PercCalDate" />
        <br />
    </div>

    <div>
        <label asp-for="AvgCalibrated95PercCalDate">Upload Other Documents:</label>
        <input asp-for="AvgCalibrated95PercCalDate" />
        <br />
    </div>

    <div hidden>
        <label asp-for="SampleID">SampleID</label>
        <input asp-for="SampleID" />
        <br />
    </div>
    <button type="submit">Next</button>
    <!--REDIRECT TO NEW PAGE-->


</form>
