
@model MummyInfo

<partial name="SharedBody" model="@Model.body" />

<partial name="SharedBurial" model="@Model.burial" />

<form asp-action="EnterTablesMenuPage2" method="post">
    <div class="p-t-15">
        <button class="btn btn--radius-2 btn--blue" type="submit">Return to Home Page</button>
    </div>
</form>


