@model Bone

<div class="text-center">
    <h1 class="display-4">Enter Bone Information</h1>
</div>

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

    <!-- Title Page-->
    <title>Au Register Forms by Colorlib</title>

    <!-- Icons font CSS-->
    <link href="~/lib/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="~/lib/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="~/lib/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/lib/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="~/css/main.css" rel="stylesheet" media="all">
</head>

<body>
    <div class="card card-4">
        <div class="card-body">
            <h2 class="title">Enter Bone Information</h2>
            <form asp-action="EnterBone" method="post">
                <div class="row row-space">
                    <div class="col-4">
                        <div class="input-group">
                            <label asp-for="EpiphysealUnion">Epiphyseal Union:</label>
                            <input asp-for="EpiphysealUnion" class="input--style-4"  />
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            <label asp-for="ZygomaticCrest">Zygomatic Crest:</label>
                            <input asp-for="ZygomaticCrest" class="input--style-4" />
                        </div>
                    </div>
                </div>
                <div class="row row-space">
                    <div class="col-4">
                        <div class="input-group">
                            <label asp-for="NuchalCrest">Nunchal Crest:</label>
                            <input asp-for="NuchalCrest" class="input--style-4" />

                        </div>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            <label asp-for="Gonian">Gonian:</label>
                            <input asp-for="Gonian" class="input--style-4" />
                        </div>
                    </div>
                </div>
                <div class="row row-space">
                    <div class="col-4">
                        <div class="input-group">
                            <label asp-for="ParietalBossing">Parietal Bossing:</label>
                            <input asp-for="ParietalBossing" class="input--style-4" />
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            <label asp-for="OrbitEdge">Orbit Edge:</label>
                            <input asp-for="OrbitEdge" class="input--style-4" />
                        </div>
                    </div>
                </div>

                <div class="row row-space">
                    <div class="col-4">
                        <div class="input-group">
                            <label asp-for="Robust">Robust:</label>
                            <input asp-for="Robust" class="input--style-4" />
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            <label asp-for="TibiaLength">Tibia Length:</label>
                            <input asp-for="TibiaLength" class="input--style-4" />
                        </div>
                    </div>
                </div>
                <div class="row row-space">
                    <div class="col-4">
                        <div class="input-group">
                            <label asp-for="HumerusLength">Humerus Length:</label>
                            <input asp-for="HumerusLength" class="input--style-4" />

                        </div>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            <label asp-for="FemerLength">Femer Length:</label>
                            <input asp-for="FemerLength" class="input--style-4" />
                        </div>

                    </div>
                </div>
                <div class="row row-space">
                    <div class="col-4">
                        <div class="input-group">
                            <label asp-for="Humerus">Humerus:</label>
                            <input asp-for="Humerus" class="input--style-4" />
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            <label asp-for="FemurDiameter">Femer Diameter:</label>
                            <input asp-for="FemurDiameter" class="input--style-4" />
                        </div>
                    </div>
                </div>
                <div class="row row-space">
                    <div class="col-4">
                        <div class="input-group">
                            <label asp-for="IliacCrest">Iliac Crest:</label>
                            <input asp-for="IliacCrest" class="input--style-4" />
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            <label asp-for="MedialClavicle">Medial Clavicle:</label>
                            <input asp-for="MedialClavicle" class="input--style-4" />
                        </div>
                    </div>
                </div>
                <div class="row row-space">
                    <div class="col-4">
                        <div class="input-group">
                            <label asp-for="BoneLength">Bone Length:</label>
                            <input asp-for="BoneLength" class="input--style-4" />
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            <label asp-for="PubicSymphysis">Pubic Symphysis:</label>
                            <select asp-for="PubicSymphysis">
                                <option value="1">I</option>
                                <option value="2">II</option>
                                <option value="3">III</option>
                                <option value="4">IV</option>
                                <option value="5">V</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row row-space">
                    <div class="col-4">
                        <div class="input-group">
                            <label asp-for="Osteophytosis">Osteophytosis:</label>
                            <select asp-for="Osteophytosis">
                                <option value="Slight">Slight</option>
                                <option value="Moderate">Slight</option>
                                <option value="Heavy">Slight</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            <label asp-for="HumerusHead">Humerus Head: </label>
                            <input asp-for="HumerusHead" class="input--style-4" />
                        </div>
                    </div>
                </div>
                <div class="row row-space">
                    <div class="col-4">
                        <div class="input-group">
                            <label asp-for="FemurHead">Femur Head: (what is real name?)</label>
                            <input asp-for="FemurHead" class="input--style-4" />
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            <label asp-for="ForemanMagnum">Foreman Magnum:</label>
                            <input asp-for="ForemanMagnum" class="input--style-4" />
                        </div>
                    </div>
                </div>
                <div class="row row-space">
                    <div class="col-4">
                        <div class="input-group">
                            <label asp-for="DorsalPitting">Dorsal Pitting? </label>
                            <input asp-for="DorsalPitting" class="input--style-4" />
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            <label asp-for="MedialIpRamus">Medial Ip Ramus:</label>
                            <input asp-for="MedialIpRamus" class="input--style-4" />
                        </div>
                    </div>
                </div>
                <div class="row row-space">
                    <div class="col-4">
                        <div class="input-group">
                            <label asp-for="PreaurSulcus">Preaur Sulcus:</label>
                            <input asp-for="PreaurSulcus" class="input--style-4" />
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            <label asp-for="PubicBone">Pubic Bone:</label>
                            <input asp-for="PubicBone" class="input--style-4" />
                        </div>
                    </div>
                </div>
                <div class="row row-space">
                    <div class="col-4">
                        <div class="input-group">
                            <label asp-for="SciaticNotch">Sciatic Notch:</label>
                            <input asp-for="SciaticNotch" class="input--style-4" />
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            <label asp-for="SubpubicAngle">Subpubic Angle: </label>
                            <input asp-for="SubpubicAngle" class="input--style-4" />
                        </div>
                    </div>
                </div>
                <div class="row row-space">
                    <div class="col-4">
                        <div class="input-group">
                            <label asp-for="VentralArc">Ventral Arc:</label>
                            <input asp-for="VentralArc" class="input--style-4" />
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            <label asp-for="BasilarSuture">Basilar Suture:</label>
                            <input asp-for="BasilarSuture" class="input--style-4" />
                        </div>
                    </div>
                </div>
                <div class="row row-space">
                    <div class="col-4">
                        <div class="input-group">
                            <label asp-for="PostcrainiaAtMagazine">Postcrainia At Magazine? </label>
                            <select asp-for="PostcrainiaAtMagazine">
                                <option value="True">True</option>
                                <option value="False">True</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            <label asp-for="PostcrainiaTrauma">Postcrainia Trauma:</label>
                            <select asp-for="PostcrainiaTrauma">
                                <option value="True">True</option>
                                <option value="False">True</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row row-space">
                    <div class="col-4">
                        <div class="input-group">
                            <label asp-for="OsteologyNotes">OsteologyNotes:</label>
                            <input asp-for="OsteologyNotes" class="input--style-4" />
                        </div>
                    </div>
                    
                </div>
                <div class="p-t-15">
                    <button class="btn btn--radius-2 btn--blue" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="~/lib/vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="~/lib/vendor/select2/select2.min.js"></script>
    <script src="~/lib/vendor/datepicker/moment.min.js"></script>
    <script src="~/lib/vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="~/js/global.js"></script>

</body>
</html>
<!-- end document-->
