@model Body

<div class="text-center">
    <h1 class="display-4">Enter FieldNotes</h1>
</div>



<form asp-action="EnterFieldBody" method="post">
    <div asp-validation-summary="All"></div>

    <div>
        <label asp-for="BurialPreservation">Burial Preservation:</label>
        <input asp-for="BurialPreservation" />
        <br />
    </div>

    <div>
        <label asp-for="PreservationIndex">Preservation Index:</label>
        <input asp-for="PreservationIndex" />
        <br />
    </div>

    <div>
        <label asp-for="AgeAtDeath">Age At Death:</label>
        <input asp-for="AgeAtDeath" />
        <br />
    </div>

    <div>
        <label asp-for="SampleTaken">Was A Sample Taken?</label>
        <input asp-for="SampleTaken" />
        <br />
    </div>

    <div>
        <label asp-for="AgeMethod">Age Method:</label>
        <input asp-for="AgeMethod" />
        <br />
    </div>

    <div>
        <label asp-for="GenderMethod">Gender Method:</label>
        <input asp-for="GenderMethod" />
        <br />
    </div>

    <div>
        <label asp-for="EstimateLivingStature">Estimated Living Stature:</label>
        <input asp-for="EstimateLivingStature" />
        <br />
    </div>

    <div>
        <label asp-for="HairTaken">Hair Taken?</label>
        <input asp-for="HairTaken" />
        <br />
    </div>

    <div>
        <label asp-for="SoftTissueTaken">Soft Tissue Taken?</label>
        <input asp-for="SoftTissueTaken" />
        <br />
    </div>

    <div>
        <label asp-for="BoneTaken">Bone Taken?</label>
        <input asp-for="BoneTaken" />
        <br />
    </div>

    <div>
        <label asp-for="ToothTaken">Tooth Taken?</label>
        <input asp-for="ToothTaken" />
        <br />
    </div>

    <div>
        <label asp-for="TextileTaken">Textile Taken?</label>
        <input asp-for="TextileTaken" />
        <br />
    </div>

    <div>
        <label asp-for="DescriptionOfTaken">Description Of Taken:</label>
        <input asp-for="DescriptionOfTaken" />
        <br />
    </div>

    <div>
        <label asp-for="SequenceDna">Sequence DNA</label>
        <input asp-for="SequenceDna" />
        <br />
    </div>

    <div>
        <label asp-for="CarbonEstimatedDate">Carbon Estimated Date</label>
        <input asp-for="CarbonEstimatedDate" />
        <br />
    </div>

    <div>
        <label asp-for="YearAnalyzed">Year Analyzed</label>
        <input asp-for="YearAnalyzed" />
        <br />
    </div>


    <div hidden>
        <label asp-for="BodyId">BodyID</label>
        <input asp-for="BodyId" />
        <br />
    </div>
    <button type="submit">Next</button>
    <!--REDIRECT TO NEW PAGE-->


</form>
