
@model Body

<div class="text-center">
    <h1 class="display-4">Enter Field Notes</h1>
</div>

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

    <!-- Title Page-->
    <title>Au Register Forms by Colorlib</title>

    <!-- Icons font CSS-->
    <link href="~/lib/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="~/lib/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="~/lib/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/lib/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="~/css/main.css" rel="stylesheet" media="all">
</head>

<body>
    <div class="card card-4">
        <div class="card-body">
            <h2 class="title">Enter Body Information</h2>
            <form asp-action="EnterFieldBody" method="post">
                <div class="row row-space">
                    <div class="col-4">
                        <div class="input-group">
                            <label asp-for="HairColorKey">Hair Color: </label>
                            <select asp-for="HairColorKey">
                                <option value="B">Brown/Dark Brown/Lt Brown</option>
                                <option value="K">Black</option>
                                <option value="A">Brown-Red</option>
                                <option value="R">Red/Red-Bl</option>
                                <option value="D">Blond</option>
                                <option value="U">Unknown</option>
                            </select>

                        </div>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            <label asp-for="PreservationIndex">Preservation Index: </label>
                            <select asp-for="PreservationIndex">
                                <option value="1">I</option>
                                <option value="2">II</option>
                                <option value="3">III</option>
                                <option value="4">IV</option>
                                <option value="5">V</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row row-space">
                    <div class="col-4">
                        <div class="input-group">
                            <label asp-for="WrappingKey">Burial Wrappings:</label>
                            <select asp-for="WrappingKey">
                                <option value="W">Full or nearly full wrapping remains</option>
                                <option value="H">Partial wrapping remain</option>
                                <option value="B">Bones and/or partial remnants of wrapping remains</option>
                                <option value="U">Unknown</option>
                            </select>

                        </div>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            <label asp-for="BurialPreservation">Burial Preservation:</label>
                            <input asp-for="BurialPreservation" class="input--style-4" />
                        </div>
                    </div>
                </div>

                <div class="row row-space">
                    <div class="col-4">
                        <div class="input-group">
                            <label asp-for="AgeKey">Age At Death: </label>
                            <select asp-for="AgeKey" class="input--style-4">
                                <option value="A">Adult - year 15+</option>
                                <option value="C">Child - years 3-15</option>
                                <option value="I">Infant - years 1-3</option>
                                <option value="N">Newborn - year 0-1</option>
                                <option value="U">Unknown</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            <label asp-for="AgeMethod">Age Method: </label>
                            <input asp-for="AgeMethod" class="input--style-4" />

                        </div>
                    </div>
                </div>

                <div class="row row-space">
                    <div class="col-4">
                        <div class="input-group">

                            <label asp-for="GenderKey">Gender:</label>
                            <select asp-for="GenderKey">
                                <option value="F">Female</option>
                                <option value="M">Male</option>
                                <option value="U">Unknown</option>
                            </select>


                            <label asp-for="SoftTissueTaken">Soft Tissue Taken?</label>
                            <input asp-for="SoftTissueTaken"  class="input--style-4" />

                        </div>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            <label asp-for="GenderMethod">Gender Method:</label>
                            <input asp-for="GenderMethod" class="input--style-4" />
                        </div>
                    </div>
                </div>
                <div class="row row-space">
                    <div class="col-4">
                        <div class="input-group">
                            <label asp-for="EstimateLivingStature">Estimated Living Stature:</label>
                            <input asp-for="EstimateLivingStature" class="input--style-4" />
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            <label asp-for="SampleTaken">Was A Sample Taken? </label>
                            <select asp-for="SampleTaken">
                                <option value="True">True</option>
                                <option value="False">False</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row row-space">
                    <div class="col-4">
                        <div class="input-group">
                            <label asp-for="HairTaken">Hair Taken? </label>
                            <select asp-for="HairTaken">
                                <option value="True">True</option>
                                <option value="False">False</option>

                            </select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            <label asp-for="SoftTissueTaken">Soft Tissue Taken? </label>
                            <select asp-for="SoftTissueTaken">
                                <option value="True">True</option>
                                <option value="False">False</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row row-space">
                    <div class="col-4">
                        <div class="input-group">

                            <label asp-for="BoneTaken">Bone Taken?</label>
                            <select asp-for="BoneTaken">
                                <option value="True">True</option>
                                <option value="False">False</option>
                            </select>
                        </div>
                    </div>
                </div>


                    <div class="row row-space">
                        <div class="col-4">
                            <div class="input-group">
                                <label asp-for="ToothTaken">Tooth Taken?</label>
                                <select asp-for="ToothTaken">
                                    <option value="True">True</option>
                                    <option value="False">False</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="input-group">
                                <label asp-for="TextileTaken">Textile Taken?</label>
                                <select asp-for="TextileTaken">
                                    <option value="True">True</option>
                                    <option value="False">False</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-4">
                            <div class="input-group">
                                <label asp-for="DescriptionOfTaken">Description Of Taken:</label>
                                <input asp-for="DescriptionOfTaken" class="input--style-4" />
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="input-group">
                                <label asp-for="SequenceDna">Sequence DNA</label>
                                <input asp-for="SequenceDna" class="input--style-4" />
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-4">
                            <div class="input-group">
                                <label asp-for="CarbonEstimatedDate">Carbon Estimated Date</label>
                                <input asp-for="CarbonEstimatedDate" class="input--style-4" />
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="input-group">
                                <label asp-for="YearAnalyzed">Year Analyzed</label>
                                <input asp-for="YearAnalyzed" class="input--style-4" />
                            </div>
                        </div>
                    </div>

                    <div class="p-t-15">
                        <button class="btn btn--radius-2 btn--blue" type="submit">Next</button>
                    </div>
                        <div>
                            <label asp-for="CarbonEstimatedDate">Carbon Estimated Date</label>
                            <input asp-for="CarbonEstimatedDate"  class="input--style-4"value="0"/>
                        </div>
                  
                    <div class="col-4">
                        <div class="input-group">
                            <label asp-for="YearAnalyzed">Year Analyzed</label>
                            <input asp-for="YearAnalyzed"  class="input--style-4" value="0"/>
                        </div>
                    </div>
             
                <div class="p-t-15">
                    <button class="btn btn--radius-2 btn--blue" type="submit">Next</button>
                </div>
                <!--Try two-->

            </form>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="~/lib/vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="~/lib/vendor/select2/select2.min.js"></script>
    <script src="~/lib/vendor/datepicker/moment.min.js"></script>
    <script src="~/lib/vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="~/js/global.js"></script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->

