@model Tooth

<div class="text-center">
    <h1 class="display-4">Enter Teeth</h1>
</div>

<form asp-action="EnterTooth" method="post">
    <div asp-validation-summary="All"></div>

    <div>
        <label asp-for="LinearHypoplasiaEnamel">Linear Hypoplasia Enamel:</label>
        <input asp-for="LinearHypoplasiaEnamel" />
        <br />
    </div>

    <div>
        <label asp-for="ToothAttrition">Tooth Attrition:</label>
        <input asp-for="ToothAttrition" />
        <br />
    </div>

    <div>
        <label asp-for="ToothEruption">Tooth Eruption:</label>
        <input asp-for="ToothEruption" />
        <br />
    </div>

    <div>
        <label asp-for="PathologyAnomoly">Pathology Anomoly:</label>
        <input asp-for="PathologyAnomoly" />
        <br />
    </div>

    <div hidden>
        <label asp-for="ToothId">FileID</label>
        <input asp-for="ToothId" />
        <br />
    </div>
    <button type="submit">Next</button>
    <!--REDIRECT TO NEW PAGE-->


</form>
