@Model 

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <h5 class="card-header">TableName</h5>
            <div class="card-body">
                <h5 class="card-title">Enter Information for TableName</h5>
                <p class="card-text">Enter _, _, _, and more here!</p>
                <a href="#" class="btn btn-primary">Enter Info</a>
            </div>
        </div>
    </div>

    <br />

    <div class="col-sm-6">
        <div class="card">
            <h5 class="card-header">TableName</h5>
            <div class="card-body">
                <h5 class="card-title">Enter Information for TableName</h5>
                <p class="card-text">Enter _, _, _, and more here!</p>
                <a href="#" class="btn btn-primary">Enter Info</a>
            </div>
        </div>
    </div>
</div>
