@{
    ViewData["Title"] = "Home Page";
}
<style>
    img {
        width: 70%;
    }
</style>

<img src="~/img/Slide7Cropped.jpg" class="center rounded img-thumbnail" />
<br />
<br />

<div class="container">
    <div class="text-center shadow-lg p-3 mb-5 bg-white rounded">
        <h3 class="display-4">BYU Egypt Excavation Project</h3>
        <br />
        <h6>View the <a asp-controller="Home" asp-action="BurialList">burial information </a>for the Fag el-Gamous Cemetery.</h6>
        <br />
        <p>
            The Fag el-Gamous Cemetery is located in Fayoum, Egypt. Over 1000 burials have been excavated as of June 2015 and it has led to several interesting discoveries.
            According to an artical in the Journal of Archaeological Science about the Fag el-Gamous,
            one of the most fascinating discoveries is that of head orientation at burial. Older burials were placed with the head facing west whereas the newer ones were placed with the head facing east.
            Some think that this change could have been a result of Christianity being introduced whereas others think it could have to do with Varius Avitus Bassianus (c. 203-222), a Roman Emperor who identified himself with sun worship.
            The article also outlines the 4 primary questions that hope to be answered by sampling bone, teeth, and tissue collected from 1993-2000. They are as follows:
        </p>

        1. When did the Graeco-Roman cemetery first come into use?
        <br />
        2. What is the oldest head-west burial?
        <br />
        3. Is it possible to identify a date for the change in burial practice?
        <br />
        4. What is the deepest (and presumably oldest) burial that includes a definite marker of Christianity?
        <br />
        <br />
    </div>
 </div>

    <div class="text-center">
        <h6>Map of Fayoum, Egypt</h6>
        <img src="https://mummiesbucket.s3.amazonaws.com/mummies/Mummies/1-s2.0-S2352409X15000188-gr1_lrg.jpg" />
    </div>

