@{
    ViewData["Title"] = "Home Page";
}

<img src="~/img/Slide7Cropped.jpg" class="center">
<div class="text-center">
    <h3 class="display-4">BYU Egypt Excavation Project</h3>
    <h6>View the <a href="~/Views/Home/BurialList.cshtml">burial information </a>for the Fag el-Gamous Cemetery.</h6>
    <p>This is a paragraph all about the project. It explains lots of interesting things about the project. </p>
</div>
