@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model int


<br />
<br />
<h2>Record Deleted</h2>

<form asp-action="BurialDetails" method="post" class="text-center">
    <input type="hidden" name="burialId" value="@Model" />
    <input type="submit" value="Return to Burial Details" class="btn btn-danger" />
</form>