
<style>
    img {
        width: 70%;
    }
</style>

<img src="https://mummiesbucket.s3.amazonaws.com/mummies/Mummies/_10_W_NE_12_C_textiles.jpg" class="center" />
<h6>textiles</h6>

<img src="https://mummiesbucket.s3.amazonaws.com/mummies/Mummies/_175_A.JPG" class="center" />
<h6>items</h6>

<img src="https://mummiesbucket.s3.amazonaws.com/mummies/Mummies/_NW_17_textiles.JPG" class="center" />
<h6>textiles</h6>

<img src="https://mummiesbucket.s3.amazonaws.com/mummies/Mummies/_NW_6.JPG" class="center" />
<h6>mummy</h6>

<img src="https://mummiesbucket.s3.amazonaws.com/mummies/Mummies/130_140_N_20_30_W_NW_5.jpg" class="center" />
<h6>130/140 N 20/30 W NW #5</h6>

<img src="https://mummiesbucket.s3.amazonaws.com/mummies/Mummies/130_140_N_20_30_W_NW_56_skull.JPG" class="center" />
<h6>skull</h6>

<img src="https://mummiesbucket.s3.amazonaws.com/mummies/Mummies/160_160_N_10_20_E_SE_35_woodenbox.JPG" class="center" />
<h6>wooden box</h6>

<img src="https://mummiesbucket.s3.amazonaws.com/mummies/Mummies/190_200_N_30_40_E_NE-18_nail.jpg" class="center" />
<h6>nail</h6>

<img src="https://mummiesbucket.s3.amazonaws.com/mummies/Mummies/190_200_N_30_40_E_SW_4_5_6_dice_a.JPG" class="center" />
<h6>dice</h6>
