@model Body

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <h5 class="card-header">1. Sample</h5>
            <div class="card-body">
                <p class="card-text">Enter hair taken, textile taken, notes, and more here!</p>
                <form asp-action="EnterSample">
                    <div class="input-group" hidden>
                        <label asp-for="BodyId">BodyId</label>
                        <input asp-for="BodyId" />
                    </div>
                    <div class="p-t-15">
                        <button class="btn btn--radius-2 btn--blue" type="submit">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br />

    <div class="col-sm-6">
        <div class="card">
            <h5 class="card-header">2. Tooth</h5>
            <div class="card-body">
                <p class="card-text">Enter linear hypoplasia enamel, tooth attrition, tooth eruption, and more here!</p>
                <form asp-action="EnterTeeth">
                    <div class="input-group" hidden>
                        <label asp-for="BodyId">BodyId</label>
                        <input asp-for="BodyId" />
                    </div>
                    <div class="p-t-15">
                        <button class="btn btn--radius-2 btn--blue" type="submit">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<br />

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <h5 class="card-header">3. Cranial</h5>
            <div class="card-body">
                <p class="card-text">Enter skull trauma, max nasal breadth, cribra orbitalia, and more here!</p>
                <form asp-action="EnterCranial">
                    <div class="input-group" hidden>
                        <label asp-for="CranialId">CranialId</label>
                        <input asp-for="CranialId" />
                    </div>
                    <div class="p-t-15">
                        <button class="btn btn--radius-2 btn--blue" type="submit">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br />

    <div class="col-sm-6">
        <div class="card">
            <h5 class="card-header">4. Bone</h5>
            <div class="card-body">
                <p class="card-text">Enter orbit edge, humerous, dorsal pitting, and more here!</p>
                <form asp-action="EnterBone">
                    <div class="input-group" hidden>
                        <label asp-for="BoneId">BoneId</label>
                        <input asp-for="BoneId" />
                    </div>
                    <div class="p-t-15">
                        <button class="btn btn--radius-2 btn--blue" type="submit">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br />
</div>
<br />

